body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightyellow;
    padding-top: 60px;
}

#cyan-color {
    color: darkcyan;
    border: 2px solid tomato;
}

.purple-text {
    color: #800080;
}

.text-center {
    text-align: center;
}

img {
    width: 50%;
    float: right;
}

header {
    margin-top: 80px;
}

nav {
    background: linear-gradient(to right, lightblue, lightgreen);
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;  /* Ensure it stays at the top */
    left: 0;  /* Ensure it stays at the left */
    opacity: 0.9;
}

nav ul {
    list-style-type: none;
}

/* 
nav ul li a  
alternative selector 
*/
nav a {
    color: darkblue;
    padding: 10px;
}

nav a:hover {
    color: darkgreen;
}

ol {
    border: 3px solid brown;
    box-shadow: 5px 15px brown;
    overflow: auto;
    height: 100px;
}

#ingredients-section {
    margin: auto;
    width: 50%;
}

#main-ingredients {
    display: inline-block;
    border: 3px dotted purple;
    padding: 20px;
    /* margin: 30px; */
}

#optional-ingredients {
    display: inline-block;
    border: 3px dotted purple;
    padding: 20px;
    /* margin: 30px; */
}

#contact-us {
    clear: right;
}